<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pilot FLow</title>
</head>
<body>
  <nav>
    <p>Logo</p>
  </nav>
  <main>
    <p>Read the in depth Documentation</p>
    <p>Select A/C: _____</p>
    <p>Mass and Balance</p>
    <p>Pilot</p>
    <p>PAX</p>
    <p>Baggage</p>
    <p>Fuel</p>
    <p>Taxi</p>
    <p>Trip</p>
    <p>Centre of Gravity Graph</p>
    <p>Generate Loadsheet</p>
  </main>
  <footer>
    <p>Link to Documentation</p>
    <p>@2023 Ted Staggs - All Rights Reserved</p>
    <p>Ted Staggs Production</p>
  </footer>
</body>
</html>